nav {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: right;
      background-color: #1e1e1e;
      color: #fff;
      padding: 0.5rem;
      border-radius: 0.25rem;
  
      li {
        margin: 0 0.5rem;
  
        &:first-child {
          margin-left: 0;
        }
  
        &:last-child {
          margin-right: 0;
        }
  
        a {
          text-decoration: none;
          color: #fff;
          font-weight: 500;
          transition: color 0.2s ease-in-out;
  
          &:hover {
            color: #f6ad55;
          }
        }
      }
    }
  }
  